@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#app {
  width: 100%;
  height: 100%;
  background: #101214;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: min(max(24px, calc(100vw / 6)), 100px);
  line-height: 0;
}

.flip-clock-container * {
  user-select: none;
  cursor: default;
}

.flip-clock {
  display: flex;
  perspective: 1000px;
}

.digit {
  position: relative;
  width: min(max(60px, calc(30vw)), 180px);
  height: min(max(100px, calc(30vw * 16 / 9)), 320px);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.digit-left {
  margin-right: 1px;
}

.digit-right {
  margin-left: 1px;
}

.digit::before,
.digit::after {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.digit::before {
  content: attr(data-digit-before);
  bottom: 0;
  align-items: flex-start;
}

.digit::after {
  content: attr(data-digit-after);
  top: 0;
  align-items: flex-end;
}

.card {
  position: relative;
  width: 100%;
  height: 50%;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(0);
  transition: transform .7s ease-in-out;
}

.card.flipped {
  transform: rotateX(-180deg);
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
}

.card-face-front {
  align-items: flex-end;
}

.card-face-back {
  align-items: flex-start;
  transform: rotateX(-180deg);
}

.digit::before,
.digit::after,
.card-face-front,
.card-face-back {
  background: white;
  color: black;
}

.digit,
.digit::before,
.digit::after,
.card,
.card-face {
  border-radius: 15px;
}

.digit::before,
.card-face-back {
  background: #1d1e1f;
  color: #ffffff;
  border-top: 1px solid black;
}

.digit::after,
.card-face-front {
  background: #1d1e1f;
  color: #ffffff;
  border-bottom: 1px solid black;
}

.digit-left,
.digit-left::before,
.digit-left::after,
.digit-left .card,
.digit-left .card-face {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.digit-right,
.digit-right::before,
.digit-right::after,
.digit-right .card,
.digit-right .card-face {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.colon {
  color: #7A7C80;
  margin: 0 6px;
  padding-bottom: 9px;
}

.copyright-area {
  position: absolute;
  color: #7A7C80;
  width: 100%;
  bottom: 5%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

@media (max-width: 600px) {
  .flip-clock-container {
    font-size: 20vw;
  }

  .digit {
    width: 20vw;
    height: 30vw;
  }
}
